{% extends "global/base.html" %}

{% block content %}

    <div id="formulario" class="login">    
        <form action="{% url 'cadastro:signup' %}" method="POST">
            {% csrf_token %}
            <h2>Cadastro</h2>
            <label for="name">
                <input type="text" name="nome" id="name" placeholder="Nome" class="input">
            </label>
            <label for="sobrenome">
                <input type="text" name="sobrenome" id="sobrenome" placeholder="Sobrenome" class="input">
            </label>
            <label for="email">
                <input type="email" name="email" id="email" placeholder="E-mail" class="input">
            </label>
            <label for="password">
                <input type="password" name="senha" id="pass" placeholder="Senha" class="input">
            </label>

            <span class="valido"></span>
            <input type="submit" value="Cadastrar" class="btn" name="Cadastre-se">
            <button class="btn"><a href="{% url 'cadastro:login' %}" class="btna">Entrar</a></button>
        </form>
    </div>
{% endblock content %}
